img {
  width: 85%;
  max-width: 45%;
  height: 85%;
  align-content: center;
  margin-top: 2vh;
}

/* Desktop Only*/

@media only screen and (min-width: 768px) {
}

/* Mobile Only*/

@media only screen and (max-width: 768px) {
  img {
    min-width: 80%;
  }
}
